.parallax {
  background-image: url("https://cdn.shopify.com/s/files/1/0086/5982/8841/files/0267D65F-B1BE-49D5-830D-EB86E79C21E9_1512x.png?v=1642493882");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}
